services:
  - type: web
    name: fertilizer-recommendation
    env: python
    buildCommand: pip install -r requirements.txt
    startCommand: python app.py
    envVars:
      - key: PORT
        value: 8000
    healthCheckPath: /api/health

